sensetive

# Not prepared directories
shadowsocks/
gimp/
build-supercollider/
kensington-expert-trackball-linux-config/

# Not prepared scripts
reduce_backlight_range.sh
restore_backlight.sh
shadow_bash.sh
convert-heif.sh
store_backlight.sh
shadow
test-hello

# Other
*.log
.nix-script-cache
