sensitive

# Not prepared directories
shadowsocks/
gimp/
build-supercollider/
sntrack/

# Not prepared scripts
shadow_bash.sh
convert-heif.sh
shadow
test-hello
scitopdf

# Other
*.log
.nix-script-cache
*.toml
logs/
refoco/

